.grid {
  width: 500px;
  height: 380px;
  border: solid rgb(233, 173, 206) 2px;
  border-radius: 5%;
}
img {
  width: 100px;
  height: 100px;
  margin-top: 13px;
  margin-left: 18px;
  margin-bottom: 10px;
  /* margin-right: 20px; */
}
